<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="file" fileName="/var/log/legs_io.log" append="false">
            <PatternLayout pattern="%d{dd/MM HH:mm:ss,SSS} %-5p %c{2} - %m%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p][%d{ISO8601}][%t] %m%n"/>
        </Console>
        <!--<Socket name="socket" protocol="tcp" host="localhost" port="7777">-->
            <!--<SerializedLayout/>-->
        <!--</Socket>-->
    </Appenders>


    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="file"/>
            <!--<AppenderRef ref="socket"/>-->
        </Root>
    </Loggers>
</Configuration>